*,
body {
    font-family: 'Poppins', sans-serif;

}


li {
    list-style-type: none;
}

/*header row*/
.headerrow {
    border-bottom: 2px solid #faf6fc;
    position: fixed;
    background-color: white;
    z-index: 3000;
}

/*header image*/
.headerimage {
    margin: 10% 10% 10% 20%;
}

.headerimage img {
    width: 70%;
    height: 100%;
}

/*searchbar*/


.headersearch {
    height: 50%;
    margin: 6% 5% 7% 5%;
}

.headersearchinner {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

}

#searchinput {
    border: none;
    background: #faf6fc;
    font-size: 17px;
    border-radius: 20px 20px 20px 20px;
    height: 100%;
    padding: 0% 0% 0% 4vw;

}

.headersearchinner button {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    margin-left: 2%;
    color: #5d5c5e;
}


/*third div*/

.headertime {
    width: 90%;
    height: 35%;
    margin: 16% 5% 10% 5%;
}


.thirddiv {
    width: 0%;
    margin: 0% 10% 0% 7%;
    height: 100%;

}

.thirdinnerdiv {
    background: #faf6fc;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-radius: 20px 20px 20px 20px;
    color: #b5b5bb;
}

.Timeindiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;


}

.Timeindiv label {
    margin-left: 10px;
    font-size: 14px;
    color: #000000;
}
.switch{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    height: 100%;
    right:0;
}
.switch button label{
    font-size: 14px;
}

.switch button {

    --bs-btn-color: #8300c6;
    --bs-btn-border-color: #8300c6;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #a247cf;
    --bs-btn-hover-border-color: #8300c6;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8300c6;
    --bs-btn-active-border-color: #8300c6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #8300c6;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #8300c6;
    --bs-gradient: none;

    font-size: 0.9vw;
    width: 90%;
    border-radius: 50px;
}



/*menubar header*/

.headermenu {
    margin: 9% 5% 7% 13%;
    height: 44%;
    width: 75%;
}

.headermenu ul {
    display: flex;

    height: 100%;
    width: 100%;
}

.menubar {
    width: 35%;
}

.iconbar {
    display: flex;
}

.menuiconli img {

   display: flex;
   align-items: center;
   justify-content: center;
   margin: 20% 0% 0% 0%;
    list-style: none;
}

.menuiconli {
    padding: 1%;
    height: 100%;
    width: 100%;
}

/*header ends*/

/*main body*/

.bodymain {
    height: auto;
    width: auto;
    overflow: hidden;
}


/*leftmenu*/

.main-menu .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
}


.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main-menu {
    background: #ffffff;
    border-right: 1px solid #e5e5e5;
    margin: 0px 0px 0px 0px;
    margin-top: 7.5%;
    position: fixed;
    height: 100%;
    left: 0;
    width: 90px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1000;
    padding-bottom: 20%;

}
.main-menu::-webkit-scrollbar {
    display: none;

  }

.profileicontab{
    width: 200px;
    margin-top: 10%;
    margin-left: 5px;
}

.profileicontab a{
    color: black;
    text-decoration: none;
}
.profileicontab a:hover{
    color: black;
}
.profileicontab a span{
    margin-left: 10px;

}

.profileicon {
    margin: 15px 20px 0px 14px;
    padding: 0px 0px 20px 0px;
    width: 70%;
    overflow: hidden;
    border-bottom: 1px solid grey;
}





.main-menu>ul {
    margin: 7px 20px 7px 15px;
    overflow-x: hidden;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
    margin-top: 20px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {

    color: #8200c6;
}


/*middle menu body*/

.middlemenu {
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 3%;

}

/*middle menu upper */
.upper {
    padding-top: 8%;
    height: 50%;
    width: 100%;

}

.upperinner {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-bottom: 3%;


}

.lowerinner {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-bottom: 3%;
}

/*firstupperdiv*/

.firstupperdiv {

    border-radius: 10% 10% 10% 10%;
    min-width: 30vw;
    height: 100%;

}


.firstupperIn {
    padding: 5% 7% 0% 0%;
    width: 100%;
    height: 100%;
}

.firstupperwrapper {
    background-image: url('../assets/ecllispse2.png'), url('../assets/ecllispse1.png');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position-x: -200px, 100px;
    background-position-y: -100px, -150px;
    background-color: #8200c6;
    height: 100%;
    width: 90%;
    border-radius: 24px 24px 50px 50px;
    position: relative;
    margin-left: 7%;
}

.firstupperinner {
    display: flex;
}

.firstupperimage {
    position: relative;
    width: 50%;
}

.firstupperinner img {
    top: -5%;
    width: 270px;
    position: absolute;
}

.upperinfo {
    color: #ffffff;
    width: 50%;
    height: 100%;
    padding: 5%;
}

.upperinfo img {
    margin-left: 20%;
}

.upperinfo h2 {
    font-size: 2.5rem;
}

.upperinfo p {
    margin: 0%;

}

.upperinfo .Morningheading p {
    font-size: 16px;
    margin-bottom: 1%;
}

.upperinfo .Morningschedule p {
    font-size: 12px;
}

.upperinfobutton {
    margin-top: 5%;
    margin-bottom: 7%;
}

.upperinfobutton button {
    border-radius: 20px;
    font-size: 12px;
    width: 99px;
    height: 37px;
    color: #9c33d2;
    font-weight: normal;

}

.stats {
    background-color: white;
    position: absolute;
    height: 164px;
    width: 100%;
    border-radius: 24px 24px 24px 24px;
    border: 1px solid #f2f2f2;
    bottom: 0;
}

.statsinnerdiv {
    display: flex;
    padding: 2% 0% 2% 2%;
    height: 148px;
    justify-content: center;
    align-items: center;

}

.statscount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

#statscount1id {
    width: 30%;
}

#statscount2id {
    width: 30%;
}

#statscount3id {
    width: 30%;
}

#statscount4id {
    width: 10%;
    right: -2%;
    top: 25%;

}

#statscount4id button {
    height: 30px;
}

.statscount p {
    margin: 0;
}

.statscountimg img {
    height: 100%;
    width: 100%;
}

.statscountnumber {
    font-size: 23px;
}

.statscountinfo {
    font-size: 13px;
    color: #949caa;
}

.statscountbutton {
    position: absolute;
    width: 100%;
    rotate: -90deg;
}

.statscountbutton button {
    width: 100px;
    border-radius: 12px 12px 0 0;

    border: none;

}

.statscountbutton button:hover {
    background-color: #6c01a1;
}

.statscountbutton button:focus {
    background-color: #6c01a1;
    box-shadow: none;
}

.statscountbutton button:active {
    background-color: #6c01a1;
    box-shadow: none;

}

.statscountbutton .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #8300c6;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6c01a1;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c01a1;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c01a1;
    --bs-btn-disabled-border-color: #6c01a1;
}



/*Second upper div*/

.secondupperdiv {
    padding-top: 1%;
    width: 100%;
    height: 100%;
}

/*notificationbar starts*/
.mergeheadings h5 {
    font-size: 20px;

}

.mergeheadings img {
    margin: 0% 0% 4% 0%;
}

.Noticesboard {
    min-width: 100%;
    border-radius: 24px;
    min-height: 208px;
    position: relative;

}

.Noticesboardinner {
    padding: 3% 0% 0% 0%;
    margin-left: -1.5%;
    margin-right: 10%;
    width: 100%;
    position: absolute;
    height: 100%;

}

.noticeboardwrapper {
    border: 1px solid #f2f2f2;
    border-radius: 25px;
    padding: 2%;
    background-color: white;
    width: 100%;
    height: 100%;
}


.notificationbarouter {
    height: 100%;
    width: 100%;
    position: absolute;
}

.notificationbarinner {
    width: 90%;
    height: 56%;
    overflow: hidden;
    position: absolute;
}

.innerbars {
    display: flex;
    height: 100%;
    width: 100%;
}

.notificationbar {
    display: flex;
    width: 250px;
    height: 100px;
    background-color: #faf6fc;
    padding: 2% 1% 0% 2%;
    border-radius: 24px;
    margin-right: 10%;


}


.notificationBarprofile {
    padding: 0 0% 10% 0;
    width: 30%;
}

.notificationBarmessage h5 {
    font-size: 16px;
    font-weight: bold;
}

.notificationBarmessage {
    width: 70%;
}

.notificationBarmessage p{
    font-size: 12px;
    height: 65%;
    overflow: hidden;
    color: #a2a2a2;
}

/*Notificationbarmessage ends*/

/*myworkspace starts*/

.myworkspace {

    min-width: 100%;
    border-radius: 24px;
    min-height: 200px;

}

.myworkspaceinner {
    padding: 5% 0% 0% 0%;
    margin-left: -1.5%;
    margin-right: 10%;
    width: 100%;
    height: 100%;
}

.workspacewrapper {
    border: 1px solid #f2f2f2;
    border-radius: 25px;
    padding: 2% 2% 0% 2%;
    width: 100%;
    height: 100%;
    background: white;
}


.myworkspaceNotificationbarOuter {
    height: 100%;

    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;

}

.myworkspaceNotificationbar {
    position: relative;
    display: flex;
    gap:5%;
    width: 130px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2% 0% 0% 0%;
    border-radius: 24px;
}

#myworkspaceNotificationbar3 {
    margin-right: 3%;
}

.myworkspaceNotificationBarProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faf6fc;
    padding: 4% 4% 4% 4%;
    border-radius: 25%;
    margin-right: 0%;
    margin-top: 2%;
}



.myworkspacenotificationIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: 5%;
    width: 80%;
}

.myworkspacenotificationIcons h5 {
    font-size: 13.5px;
    font-weight: bold;
}

.myworkspacenotificationIcons p {
    font-size: 11px;
    color: #a2a2a2;
}

/*myworkspace ends*/

/*thirdupperdiv*/

.thirdupperdiv {
    min-width: 20vw;
    height: 100%;


}

.Mytickets {
    height: 100%;
    width: 100%;

}

.myticketsinner {
    padding: 5% 2% 0% 3%;
    height: 100%;
    width: 100%;

}

.ticketwrapper {
    padding: 5% 10% 2% 7%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #f2f2f2;
    border-radius: 24px;
    width: 90%;
    height: 100%;
}
.mergeheadinginner{
    display: flex;
    justify-content: space-between;
}

.listing ul {
    color: #a1a1a1;
    padding-left: 0;
}

.listing li {
    padding: 5% 0% 5% 0%;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
}

.listing li:last-child {
    border-bottom: 0;
}

.listouter {

    margin: 2% 0% 0% 0%;
}

.ticketlisting ul li a{
    color: #a1a1a1;
    text-decoration: none;
}
.ticketlisting ul li a:hover{
    color: white;
    text-decoration: none;
}

.ticketlisting ul li:hover{
    background-color: #8300c7;
    color: white;
    border-radius: 25px;
    padding-left:15%;
}
/*Middle menu lower*/
.lower {
    height: 50%;
    width: 100%;
    padding-top: 2%;
    margin-bottom: 2%;
}

.lowerinner {

    height: 100%;
    background-color: rgb(255, 255, 255);
}

/*lower first div*/



.firstlowerdiv {
    min-width: 20vw;

    height: 100%;
}

.Generalqueue {

    height: 100%;
    width: 100%;
}

.Generalqueueinner {
    width: 100%;
    height: 100%;

}

.Generalwrapper {
    padding: 5% 10% 2% 7%;
    border-radius: 24px;
    margin-left: 10%;
    width: 90%;
    height: 100%;
    border: 1px solid #f2f2f2;
    position: relative;
}

.Generalqueueinner a {
    text-decoration: none;
    color: #8a8a8a;
}

.Generalqueueinner a:hover {

    color: white;
}

.Generalqueueinner li:hover {
    border-radius: 15px;
    padding-left: 10%;
    background-color: #6c01a1;


}

.generallistouter {

    width: 85%;

}

.generallisting ul li {
    padding-top: 3%;
    padding-bottom: 3%;
}





/*lower first div end*/
/*lower second div starts*/

.secondlowerdiv{
    min-width: 20vw;
    height: 100%;
}
.secondlowerouter{
    height: 100%;
    width: 100%;
}
.secondlowerinner{
    height: 100%;
    width: 100%;
}
.profilewrapper{
    border: 1px solid #f2f2f2;
    border-radius: 24px;
    position: relative;
    height: 100%;
    margin-left: 5%;
    width: 90%;
}
.profilebackground {

    background-image: url('../assets/profilesmokebackground.png');
    background-repeat: no-repeat;
    background-size: cover;


    position: absolute;
    background: #f2e5f9;
    background-image: url();
    width: 100%;
    border-radius: 24px 24px 0px 0px;
    height: 70px;
    z-index: 0;

}
.profileouterdiv {
    top: 10%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 5%;
    border-bottom: 1px solid #f2f2f2;
}
.secondlowerprofileicon {
    width: 40%;
    border-bottom: 0;
    padding: 5% 5% 5% 5%;
}

.profileinfo {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 12% 0% 0% 0%;

}

.profileinfo h5 {
    font-size: 18px;
    font-weight: 550;
    margin: 0;
}

.profileinfo p {
    font-size: 12px;
    font-weight: 550;

    color: #8300c4;
}

.profileinfo button {
    border-radius: 25px;
    --bs-btn-color: #fff;
    --bs-btn-bg: #8300c6;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6c01a1;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c01a1;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c01a1;
    --bs-btn-disabled-border-color: #6c01a1;
    font-size: 14px;
}

.profileinfo button:hover {
    background-color: #6c01a1;
}

.profileinfo button:focus {
    background-color: #6c01a1;
    box-shadow: none;
}

.profileinfo button:active {
    background-color: #6c01a1;
    box-shadow: none;

}
.profileschedulemain{
    margin-top:65% ;
    height: 100%;
    width: 100%;
}

.profilescheduleinner ul li a {
    text-decoration: none;
    color: black;
}

.profilescheduleinner ul li {
    padding-top: 2.5%;
    margin-right: 10%;
    padding-bottom: 2.5%;
    border-bottom: 1px solid #f2f2f2;
}

.profileschedulemenu {
    display: flex;
}

.profileschedulemenuicon .fa-regular {
    color: #6c01a1;
}

.profileschedulemenuevening {
    color: #a2a2a2;
}

.profileschedulemenuicon {

    margin-right: 10%;
}




/*lower second div ends*/
/*lower third div starts*/
.thirdlowerdiv {
    min-width: 20vw;
    height: 100%;


}

.timetrackingoutter {
    width: 100%;
    height: 100%;

}

.timetrackinginner {

    width: 100%;
    height: 100%;
}

.timetrackingwrapper {


    margin-right: 5%;
    width: 95%;
    height: 100%;
    border: 1px solid #f2f2f2;
    padding: 5% 5% 2% 5%;
    border-radius: 24px;


}

.timetrackingdiv {
    display: flex;
}

.timetrackingdiv .mergeheadings {
    width: 70%;
}

.timetrackingdiv .dropdown {
    width: 30%;
}

.timetrackingdiv .dropdown .dropdown-toggle {
    background-color: #faf6fc;
    color: #a2a2a2;
    border: none;
    width: 100%;
    font-size: 12px;
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0.375rem;
}

#chartContainer{
    height: 200px;
    width: 100%;
    margin-top: 13%;
}

.timetrackingmain {

    margin: 10% 0px 0px 5%;
    width: 90%;
}

.timetrackingouter {
    display: flex;
}

.weeklyreport {
    width: 65%;
}

.weeklyreport .p1 {
    margin-bottom: 2%;
    font-size: 13px;
    color: #8200c6;
}

.weeklyreport .p2 {
    font-size: 11px;
}

.timetrackingtime {
    width: 35%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.timetrackingtime h5 {
    font-size: 18px;

}

/*lower third div ends*/
/*lower fouth div starts*/
.fourthlowerdiv {

    min-height: 100%;
    min-width: 20vw;

}

.Employee {
    width: 100%;
    height: 100%;
}

.Employeeouter {
    width: 100%;
    height: 100%;
}

.Employeeinner {
    width: 100%;
    height: 100%;
}

.Employeewrapper {

    margin-right: 5%;
    width: 90%;
    height: 100%;
    border: 1px solid #f2f2f2;
    padding: 5% 5% 2% 5%;
    border-radius: 24px;

}

#buttonGroupLfourdiv {
    width: 100%;
    margin: 5% 0% 0% 0%;

}

#buttonGroupLfourdiv button {
    color: #cbcacb;
    background-color: #fefdfe;
    font-size: 12px;
    border: none;
}

#buttonGroupLfourdiv button:focus {
    color: #8300c7;
    background-color: #faf6fc;
    box-shadow: none;
}

.employeeprofileinner {
    display: flex;

}

.employenamediv p {
    margin: 0%;
    color: black;
    font-weight: 600;
}

.employeeprofilepicture {
    margin-right: 5%;
}

.employeelisting ul {
    color: #a1a1a1;
    padding-left: 0;
}

.employeelisting li {
    padding: 3% 0% 3% 0%;

}

.employeelistouter {

    margin: 2% 0% 0% 0%;
}

/*lower fourth div ends*/
/*Footer starts*/

.footerouter {
    width: 100%;
    height: 47px;
    position: absolute;
    z-index: 90000;
    background-color: #f1f1f1;
}.footerinner{
    width: 100%;

}
.footerwrapper {
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
}

.footerstart {
    display: flex;
    width: 100%;
}


.footerseconddiv {
    color: #8200c6;
}

.footerend {
    float: right;
    display: flex;
}

.footerfifthdiv {
    color: #8200c6;

}

@media (max-width: 576px) {
    .firstupperinner {
        display: flex;
        height: 380px;


    }
    .firstupperwrapper{
        width: 85%;
        margin-left: 10%;
    }
    .noticeboardwrapper{
        width: 80%;
        margin-left: 10%;
    }
    .workspacewrapper{
        width: 80%;
        margin-left: 10%;
    }
    .ticketwrapper{
        width: 84%;
        margin-left: 6%;
    }

    .myticketsinner{
        padding-bottom: 7%;
    }

    .Generalwrapper{
        width: 80%;
        margin-left: 8%;
    }
    .Generalqueueinner{
        padding-bottom: 10%;
    }
    .profilewrapper{
        width: 80%;
        margin-left: 8%;
    }

    .secondlowerinner{
        padding-bottom: 10%;
    }
    .timetrackingwrapper{
        width: 80%;
        margin-left: 8%;
    }

    .timetrackinginner{
        padding-bottom: 10%;
    }
    .Employeewrapper{
        width: 80%;
        margin-left: 8%;
    }
    #searchinput{
        padding: 0 0 0 7vw;
    }
    .thirdinnerdiv{
        width: 80%;
        margin-left: 12%;
    }
    .Timeindiv{
        height: 100%;
        width: 100%;
    }
    .Timeindiv label{

    }
    .switch{
        height: 100%;
        width: 100%;
    }
    .switch button{
        height: 100%;
        width: 100%;
    }
    .main-menu{
        padding-top: 5%;
        height:100%;
        width: 250px;
        padding-bottom: 20%;
    }
    .notificationbar {
        width: 400px;
    }
    .profileinfo {

        align-items: flex-start;
        padding: 5% 0% 0% 0%;
    }
    .profileschedulemain{
        margin-top: 55%;
        margin-bottom: 10%;
    }
    .footerstart{
        font-size: 13px;
    }
    .footerend{
        font-size: 13px;
    }
    .notificationbarouter{
        width: 80%;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 578px) {
    .firstupperinner {
        display: flex;
        height: 420px;
    }
    .firstupperwrapper{
        width: 85%;
        margin-left: 14%;
    }
    .noticeboardwrapper{
        width: 80%;
        margin-left: 14%;
    }
    .notificationbarouter{
        width: 100%;
    }
    .notificationbar {
        width: 80%;
    }
    .notificationBarprofile{
        width: 15%;

    }
    .workspacewrapper{
        width: 80%;
        margin-left: 14%;
    }
    .ticketwrapper{
        width: 84%;
        margin-left: 10%;
    }
    .myticketsinner{
        padding-bottom: 7%;
    }

    .Generalwrapper{
        width: 82%;
        margin-left: 11%;
    }
    .Generalqueueinner{
        padding-bottom: 9%;
    }
    .profilewrapper{
        width: 82%;
        margin-left: 11%;
    }

    .secondlowerinner{
        padding-bottom: 9%;
    }
    .timetrackingwrapper{
        width: 82%;
        margin-left: 11%;
    }

    .timetrackinginner{
        padding-bottom: 9%;
    }
    .Employeewrapper{
        width: 82%;
        margin-left: 11%;
    }
    #searchinput{
        padding: 0 0 0 7vw;
    }
    .secondlowerprofileicon{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 1200px) {
    .firstupperinner {
        display: flex;
        height: 420px;

    }
    .firstupperwrapper{
        width: 100%;
        margin-left: 14%;
    }
    .noticeboardwrapper{
        width: 80%;
        margin-left: 19%;
    }
    .notificationbarouter{
        width: 80%;
    }
    .notificationbar {
        width: 98%;
    }
    .notificationBarprofile{
        width: 20%;

    }
    .workspacewrapper{
        width: 80%;
        margin-left: 19%;
    }
    .ticketwrapper{
        width: 84%;
        margin-left: 10%;
    }
    .myticketsinner{
        padding-bottom: 7%;
    }

    .Generalwrapper{
        width: 92%;
        margin-left: 17%;
    }
    .Generalqueueinner{
        padding-bottom: 9%;
    }
    .profilewrapper{
        width: 92%;
        margin-left: 11%;
    }
    .secondlowerprofileicon img{
        width: 90%;
    }
    .profileinfo h5{
        font-size: 15px;
    }
    .profileinfo p{
        font-size: 11px;
        margin-bottom: 1%;
    }
    .profileinfo button{
      font-size: 10px;
    }
    .secondlowerinner{
        padding-bottom: 9%;
    }
    .timetrackingwrapper{
        width: 92%;
        margin-left: 11%;
    }

    .timetrackinginner{
        padding-bottom: 9%;
    }
    .Employeewrapper{
        width: 92%;
        margin-left: 11%;
    }
    #searchinput{
        padding: 0 0 0 7vw;
    }
    .secondlowerprofileicon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profileschedulemain  {
        margin-top:75% ;

    }
    .main-menu{



    }

}



/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {

    .firstupperinner {
        display: flex;


    }
    .firstupperwrapper{
        width: 100%;
        margin-left: 10%;
    }
    .noticeboardwrapper{
        width: 100%;
        margin-left: 7%;
    }
    .notificationbarouter{
        width: 100%;
    }
    .notificationbar {
        width: 100%;
    }
    .notificationBarprofile{
        width: 30%

    }
    .workspacewrapper{
        width: 100%;
        margin-left: 7%;
    }
    .ticketwrapper{
        width: 84%;
        margin-left: 10%;
    }
    .myticketsinner{
        padding-bottom: 7%;
    }

    .Generalwrapper{
        width: 90%;
        margin-left: 13%;
    }
    .Generalqueueinner{
        padding-bottom: 9%;
    }
    .profilewrapper{
        width: 90%;
        margin-left: 10%;
    }
    .secondlowerprofileicon img{
        width: 90%;
    }
    .profileinfo h5{
        font-size: 1.5vw;
    }
    .profileinfo p{
        font-size: 0.8vw;
        margin-bottom: 1%;
    }
    .profileinfo button{
      font-size: 1vw;
    }
    .secondlowerinner{
        padding-bottom: 9%;
    }
    .timetrackingwrapper{
        width: 90%;
        margin-left: 7%;
    }

    .timetrackinginner{
        padding-bottom: 9%;
    }
    .Employeewrapper{
        width: 90%;
        margin-left: 2%;
    }
    #searchinput{
        padding: 0 0 0 7vw;
    }
    .secondlowerprofileicon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profileschedulemain  {
        margin-top:70% ;

    }

}



.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnavactive{
    width: 100%;
    height: 100%;

}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: rgb(255, 255, 255);
  display: block;
  color: black;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#myLinks li{
    justify-content: center;
    display: flex;
    padding: 10px 0px 10px 0px;
}

.mylinksmenuicon{
    margin-left: 80%;
}

.mobilesidenavbuttonouter{
    height: 100%;
    width: 100%;
}

.mobilesidenavbutton button{

    font-size: 0.9em;
    position: fixed;
    width: 100px;
    z-index: 500;
    --bs-btn-color: #fff;
    --bs-btn-bg: #8300c6;
    --bs-btn-border-color: #8300c6;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #a34dce;
    --bs-btn-hover-border-color: #a34dce;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8600c9;
    --bs-btn-active-border-color: #8600c9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

}
.mobilesidenavbutton button:focus{
    background-color: #8600c9;
    border-color: #8600c9;
}

.mobilesidebarmain{
    height: 100%;
    width: 100%;
    position: relative;
}

.mobilesidenavouter button{
    bottom: 50%;
    left: -35px;
    z-index: 2000;
    rotate: 90deg;
    position: fixed;
}
